*{
  margin: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  margin-top: 80px;
  background-image: url(https://i.ibb.co/ySWXZM4/capa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

p{
  color: white;
  text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, -1px -1px 1px #000,1px -1px 1px #000;
  padding-bottom: 80px;
  font-family: 'Press Start 2P', cursive;
}

h1{
  font-family: 'VT323', monospace;
  text-shadow: 5px 1px 1px #000, -1px 1px 1px #000, -1px -1px 1px #000,1px -1px 1px #000;
  color: orange;
  font-size: 100px;
  
}

a {
  font-family: 'VT323', monospace;
  text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, -1px -1px 1px #000,1px -1px 1px #000;
  color: orange;
  font-size: 25px;
  text-decoration: none;
  padding: 12px 32px ;
}

a:hover{
  background-color: rgb(236, 181, 1);
  border-radius: 80px;
  box-shadow: 1px 1px 1px #000, -1px 1px 1px #000, -1px -1px 1px #000,1px -1px 1px #000;
}
